@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    background-image: linear-gradient(rgba(47, 54, 64,0.3),rgba(47, 54, 64,0.3)),url("/static/images/background16.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
}

.main>h3{
    position: absolute;
    font-size: 9rem;
    color: #fff;
    font-family: 'Lobster', cursive;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
}


.about{

    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    flex-wrap: wrap;
    
    
}
.img{
    
    width: 650px;
}


.img>img{
    width: 100%;
}

.text{
    /* background-color: royalblue; */
    width: 600px;
    /* display: flex;
    flex-wrap: wrap; */
    /* margin-bottom: 6rem; */
}

.text>h3{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    background-color: rgba(254, 211, 48,1.0);
    padding: 5px;
    text-align: center;
}



.text>p{
    width: 100%;
    line-height: 2rem;
    font-family: "Raleway","san-serif";
}


.text>p:nth-child(2){
    margin: 20px 0px;
}


@media only screen and (max-width:1216px){
    .about{
        margin-bottom: 6rem;
    }
    
}

@media only screen and (max-width:500px){
    .main>h3{
        font-size: 6rem;
    }
}