@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

footer{
    background: #353b48;
    color: #fff;
}

footer{
    font-family: 'Raleway', sans-serif;
}

footer h3{
    font-family: 'Lobster', cursive;
}

footer a{
    color: #fff;
}

footer .accounts>a{
    font-size: 30px;
    background-color: #57606f;
    padding: 10px 15px;
    border-radius: 50%;
    margin-top: 1rem;
    border: #57606f;
}
footer .accounts>a:nth-child(1){
    padding: 10px 20px;
}
footer .accounts>a:hover{
 
    background:none;
    border: 1px solid #fff;
    transition: ease-in 0.5s;

}
.menu>li>a:hover{
    text-decoration: underline;
}
.intro{
    line-height: 2rem;
}
.intro>p{
    margin: 0px 10px;
}
.intro>a{
    background-color: rgba(254, 211, 48,1.0);
    padding: 10px;
    color: #000;

}

footer ul{
    line-height: 2rem;
}

@media only screen and (max-width:270px){
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 690px;
        font-family: 'Raleway', sans-serif;
    }
    footer h3{
        font-family: 'Lobster', cursive;
        font-size: 25px;
    }
    .intro{
        text-align: center;
    }
    .accounts{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    
    }

}

@media only screen and (min-width:271px) and (max-width:450px){
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 690px;
        font-family: 'Raleway', sans-serif;
    }
    footer h3{
        font-family: 'Lobster', cursive;
        font-size: 25px;
    }
    .intro{
        text-align: center;
    }
    .accounts{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .social-media>h3{
        text-align:center ;
    }
    .accounts>a{
        margin: 0rem 1rem;
    }
    
  
}

@media only screen and (min-width:451px) and (max-width:500px){
    footer{
        display: grid;
        place-items: center;
        grid-template-columns:30px 200px 200px 60px ;
        grid-template-rows: 200px 250px;
        height: 530px;
    }
    footer h3{

        font-size: 25px;
    }
    .intro{
        text-align: center;
        grid-column: 2/4;
        grid-row: 1/2;
    }
    footer ul{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .accounts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .social-media{
        grid-column: 3/4;
        grid-row: 2/3;

    }
    .social-media>h3{
        text-align:center ;
    }
    .accounts>a{
        margin: 0rem 1rem;
    }
    
  
}


@media only screen and (min-width:501px) and (max-width:600px){
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 690px;
        font-family: 'Raleway', sans-serif;
    }
    footer h3{
        font-family: 'Lobster', cursive;
        font-size: 25px;
    }
    .intro{
        text-align: center;
        line-height: 2.5rem;
    }
    .accounts{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .social-media>h3{
        text-align:center ;
    }
    .accounts>a{
        margin: 0rem 1rem;
    }
    
  
}


@media only screen and (min-width:601px) and (max-width:650px){
    footer{
        display: grid;
        place-items: center;
        grid-template-columns:60px 260px 260px 60px ;
        grid-template-rows: 200px 250px;
        height: 530px;
    }
    footer h3{

        font-size: 25px;
    }
    .intro{
        text-align: center;
        grid-column: 2/4;
        grid-row: 1/2;
        line-height: 2.5rem;
    }
    footer ul{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .accounts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .social-media{
        grid-column: 3/4;
        grid-row: 2/3;

    }
    .social-media>h3{
        text-align:center ;
    }
    .accounts>a{
        margin: 0rem 1rem;
    }
}


@media only screen and (min-width:651px) and (max-width:750px){
    footer{
        display: grid;
        place-items: center;
        grid-template-columns:60px 280px 280px 60px ;
        grid-template-rows: 200px 250px;
        height: 530px;
    }
    footer h3{

        font-size: 25px;
    }
    .intro{
        text-align: center;
        grid-column: 2/4;
        grid-row: 1/2;
        line-height: 2.5rem;
    }
    footer ul{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .accounts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .social-media{
        grid-column: 3/4;
        grid-row: 2/3;

    }
    .social-media>h3{
        text-align:center ;
    }
    .accounts>a{
        margin: 0rem 1rem;
    }
}


@media only screen and (min-width:751px) and (max-width:900px){
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 690px;
        font-family: 'Raleway', sans-serif;
    }
    footer h3{
        font-family: 'Lobster', cursive;
        font-size: 25px;
    }
    .intro{
        text-align: center;
        line-height: 2.5rem;
    }
    .accounts{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .social-media>h3{
        text-align:center ;
    }
    .accounts>a{
        margin: 0rem 1rem;
    }
    
}



@media only screen and (min-width:901px) and (max-width:1900px){
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* flex-direction: column; */
        height: 280px;
        font-family: 'Raleway', sans-serif;
    }
    footer h3{
        font-family: 'Lobster', cursive;
        font-size: 25px;
    }
    .intro{
        text-align: center;
        line-height: 2.5rem;
    }
    .social-media{
        margin-bottom: 6rem;
    }
    .accounts{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .social-media>h3{
        text-align:center ;
    }
    .accounts>a{
        margin: 0rem 1rem;
    }
    
}