@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register{
    background-image: url("/static/images/background17.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 760px;
    font-family: 'Raleway', sans-serif;
}
form button{
    font-family: 'Raleway', sans-serif;

}
.forms{
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}