@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0rem;
}

.not-found>h3{
    font-size: 2.5rem;
    font-family: "Raleway","san-serif";
    /* font-family: 'Lobster', cursive; */
}

.nf{
    width: 600px;
}

.nf>img{
    width: 100%;
}