{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'blogapp/nav.html' %}

    <form action="" method="POST" enctype="multipart/form-data" class="m-5">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary">Create</button>
    </form>

    <h3>List of Category</h3>
    {% for cat in category %}

    <p>{{cat}}</p>
    <a href="{% url 'deletecat' cat.id %}" class='btn btn-danger'>Delete Category</a>
    {% endfor %}

</body>
</html>