{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/addpost.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'blogapp/nav.html' %}

    <form action="" method="POST" enctype="multipart/form-data" class="m-5">
        {% csrf_token %}
        {{form.media}}
        {{form}}
        <button class="btn btn-primary">Create</button>
    </form>

    <table>
        <thead>
            <th>Title</th>
            <th>Read More</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>

        <tbody>
            {% for posts in post %}
            <tr>
                <td>{{posts.title}}</td>
                <td><a  class="read-more" href="{% url 'the_project' posts.id %}">Read more</a></td>
                <td><a href="{% url 'updatepost' posts.id %}" class = "btn btn-info m-3-0-3-3  btn-sm">Update Post</a></td>
                <td><a href="{% url 'deletepost' posts.id %}" class = "btn btn-danger m-3-0-3-0  btn-sm">Delete Post</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  

</body>
</html>