{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
</head>
<body>
    <!-- <footer>
        <ul class="menu">
            <li>Menu</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="social-media">
            <li>Social Media</li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Github</a></li>
        </ul>
    </footer> -->
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 web">
  
          <!-- Content -->
            <h5 class="text-uppercase">About Me</h5>
            <p>Hi! Welcome, I am Julius Rosario, the developer of the website</p>
            <a href="" class="btn btn-primary btn-sm mb-2">Full Story</a>
            <p>Have any Questions?</p>
            <p><i class="fa fa-envelope-o"></i> jvrosario1106@gmail.com</p>
            <!-- <p><i class="fa fa-phone"></i>  09998776859</p> -->
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 menu" >
  
          <!-- Links -->
          <h5 class="text-uppercase">Menu</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Home</a>
            </li>
            <li>
              <a href="#!">Projects</a>
            </li>
            <li>
              <a href="#!">Category</a>
            </li>
            <li>
              <a href="#!">About</a>
            </li>
            <li>
                <a href="#!">Contact</a>
              </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 social-media">
  
          <!-- Links -->
          <h5 class="text-uppercase">Social Media</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!"><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-instagram"></i></a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->
</body>
</html>