{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
</head>
<body>
    <footer>
      <div class="intro">
        <h3>Welcome to my website</h3>
        <p>Hello, I'm JV the developer of this website</p>
        <a href="{% url 'contact' %}" class="message">Send me a message</a>
        <p>jvrosario1106@gmail.com</p>
      </div>

      <ul class="menu">
        <h3>Menu</h3>
        <li><a href="">Home</a></li>
        <li><a href="">Posts</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Sign Up</a></li>
        <li><a href="">Login</a></li>
      </ul>

      <div class="social-media">
        <h3>Social Media</h3>
        <div class="accounts">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-github"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </footer>
</body>
</html>