{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    {% include 'blogapp/nav.html' %}

    <main>
        <p>I could neither watch it happen or be part of it</p>
        <p class="musk">- Elon Musk</p>
        <a href="#">Latest Post</a>
        <img class = "background" src="{% static '/images/background17.jpg' %}" alt="">
        
    </main>

    <div class="features">
        <h1>Our Core Features</h1>
        <div class="f-1">
            <i class="fa fa-chain"></i>
            <h3>Highly Versatile</h3>
            <p>Responsive Website</p>
        </div>
        <div class="f-2">
            <i class="fa fa-home"></i>
            <h3>Highly Versatile</h3>
            <p>Responsive Website</p>
        </div>
        <div class="f-3">
            <i class="fa fa-bars"></i>
            <h3>Highly Versatile</h3>
            <p>Responsive Website</p>
        </div>
    </div>



    <div class="about-website">
        <img class = "background1" src="{% static '/images/background6.jpg' %}" alt="">
        <div class="about-content">
            <h1>Welcome to my about-website</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla repudiandae inventore beatae porro iusto vel fugit ad, dolores autem, adipisci omnis numquam deleniti modi ipsa consectetur eos illum natus dolorem.
            Consectetur quos dolorum ullam asperiores voluptatibus earum ad blanditiis consequatur aliquid doloremque repellendus atque iure nulla minus, perferendis adipisci aut doloribus accusamus hic. Fugiat magnam id quae ipsa obcaecati nesciunt?
            </p>
            <a href="#" class="read-more">Read More</a>
        </div>
    </div>
    <hr>
    <h2>Recent Posts</h2>

    <div class="main-content">
    {% for posts in post %}

    <div class="content">
    <img src="{{posts.img.url}}" alt="" width="500">

    <div class="second-content">
    <h1>{{posts.title}}</h1>
    <p>{{posts.desc|truncatewords:"25"}}</p>
    <a href="#" class='btn btn-success rm'>Read more</a>
    {% if request.user.is_staff %}
    <a href="{% url 'updatepost' posts.id %}" class = "btn btn-info m-3-0-3-3  btn-sm">Update Post</a>
    <a href="{% url 'deletepost' posts.id %}" class = "btn btn-danger m-3-0-3-0  btn-sm">Delete Post</a>
    {% endif %}

    </div>
    
    </div>

    {% endfor %}
    </div>


    <div class="newsletter">
            <form action="" method="POST" id="form" name="forms">
                {% csrf_token %}
                <h3>Subcribe Now</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto </p>
                {% render_field form.email class="email" placeholder="Your Email..." %}
                <button class="news-submit" type="submit" >Subcribe</button>
                <i class="fa fa-window-close"></i>
            </form>
    </div>


    <!-- Subcribe Now -->
    <section class="subcribe">
        <h1>Subcribe Now. To be updated in a post</h1>
        <button class="modal-btn">Subcribe Now</button>
    </section>

    <!-- {% include 'blogapp/footer.html' %} -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/js/home.js' %}"></script>

</body>
</html>