{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static '/css/login.css' %}">
  <title>Document</title>
</head>
<body>
  {% include 'blogapp/nav.html' %}

  {% for m in messages %}
  <div class='msg-content'>
      <p>{{m}}</p>
  </div>
  {% endfor %}

  <div class="login-form">
      
        <div class="image">
          <img src="/static/images/login.png" alt="">
        </div>
        <form method = "POST" class="container">
              {% csrf_token %}
              <p>Welcome to JV Blog</p>
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter Username">
                <label for="password">Password</label>
                <input type="password" name = "password" class="form-control" placeholder="Password">
                <a href="">Forgot Password?</a>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="{% url 'register' %}">Sign-Up</a>
              
        </form>

    </div>
    {% include 'blogapp/footer.html' %}
    <script src="{% static '/js/login.js' %}"></script>
</body>
</html>

<!-- {% for message in messages %}
          
              <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Sorry </strong>{{message}}
              </div>
          
              {% endfor %} -->