{% extends 'blogapp/base.html' %}

{% block content %}

<form class="m-5" method = "POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Enter Username">
    
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name = "password" class="form-control" placeholder="Password">
    </div>
    
    {% for message in messages %}

    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Sorry </strong>{{message}}
    </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>

    <a href="{% url 'register' %}">Sign-Up</a>
  
</form>

{% endblock %}