{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static '/css/login.css' %}">
</head>
<body>
  <div class="login-form">
    <form class="m-5" method = "POST">
        {% csrf_token %}
    
          <input type="text" class="form-control" name="username" placeholder="Enter Username">
         
          <input type="password" name = "password" class="form-control" placeholder="Password">

        
        <!-- {% for message in messages %}
    
        <div class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Sorry </strong>{{message}}
        </div>
    
        {% endfor %} -->
    
        <button type="submit" class="btn btn-primary">Submit</button>
    
        <a href="{% url 'register' %}">Sign-Up</a>
      
    </form>
    </div>
</body>
</html>