{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">JV Blog</div>

        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Project</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                {% if request.user.is_staff %}
                <li><a href="">Add Post</a></li>
                <li><a href="">Add Category</a></li>
                <li><a href="">Add Author</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout_user' %}">Logout</a></li>
                <li><a href="">Hi! {{request.user}}</a></li>
                {% else %}
                <li><a href="{% url 'login_user' %}">Login</a></li>
                {% endif %}
            </ul>
            
    </nav>

    <script src="{% static '/js/nav.js' %}"></script>
</body>
</html>