<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'blogapp/nav.html' %}

    <form action="{% url 'results' %}">
        <input type="text" name="q" placeholder="Search Title">
        <button class="btn btn-warning">Search</button>
    </form>



    {% for post in posts %}

    <h1>{{post.title}}</h1>
    <img src="{{post.img.url}}" alt="" width=500>

    <a href="{% url 'the_project' post.id %}" class="btn btn-success">Read more</a>
    {% if request.user.is_staff %}
    <a href="{% url 'updatepost' post.id %}" class = "btn btn-info m-3-0-3-3  btn-sm">Update Post</a>
    <a href="{% url 'deletepost' post.id %}" class = "btn btn-danger m-3-0-3-0  btn-sm">Delete Post</a>
    {% endif %}
    {% endfor %}



    {% if posts.has_previous %}
    <a href="?page={{posts.previous_page_number}}" class="btn btn-primary">Previous</a>
    {% endif %}

    {% for num in posts.paginator.page_range %}
        
        {% if posts.number == num %}
        <a class="btn btn-primary" href = "?page={{num}}">{{num}}</a>
        {% elif num > posts.number|add:"-3" and  num < posts.number|add:"3" %}
        <a class="btn btn-outline-primary" href="?page={{num}}">{{num}}</a>
        {% endif %}

    {%endfor%}

    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}} " class="btn btn-primary">Next</a>
    {% endif %}


    

</body>
</html>