{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/theproject.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'blogapp/nav.html' %}


    <main>
        <h1>{{posts.title}}</h1>
    </main>

    <h1>{{posts.title}}</h1>
    <img src="{{posts.img.url}}" alt="" width=600>

    <div class="comment-section">
    <h3>Comment{{comments.count|pluralize}} ({{comments.count}})</h3>
    {% for c in comments%}

    <p>{{c.user}}</p>
    <p>{{c.body}}</p>
    <p>{{c.comment_date|timesince}} ago</p>

    {% endfor %}
    
    {% if request.user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>

    {% endif %}
    </div>

    {% include 'blogapp/footer.html' %}

</body>

</html>